<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>z0n31tNgKJ7UFMURDHxgmyjlyS5fpFFx7CEBpOTe</string>
	<key>clientKey</key>
	<string>xDrsxY9NprrK6EXUW0Ar4xyLouZ6qCWT3iXtoL0h</string>
</dict>
</plist>
